// Lists

.list-header
  position: fixed
  background-color: $light
  color: $dark
  font-weight: 400
  text-transform: uppercase
  height: 50px
  width: 100%
  margin: 0
  z-index: 1

  div
    height: 50px
    display: flex
    align-items: center

.list-header-middle
  justify-content: center !important

.list-header-right
  justify-content: flex-end !important
  margin-right: 16px

.list-header-icon
  width: 32px
  margin-left: 10px

.after-fixed-list-header
    padding-top: 50px

.big-list
  min-height: 100vh // Necessary for infinite scrolling to load data

.big-list-item
  border-top: 1px solid $darkest

  h5
    color: $light
    padding-left: 20px
    margin: 0

.list-msg
  text-align: center
  font-style: italic
  padding-top: 20px
  padding-bottom: 20px

.nav-icon
  color: $darkest
  width: 70px