@import url('https://fonts.googleapis.com/css?family=Audiowide|Open+Sans:300,400')
@import ~bootstrap/scss/bootstrap

$font: Open Sans, sans-serif
$accent-font: Audiowide, sans-serif
// Themed colors
$darkest: #1D2731
$dark: #0B3C5D
$light: #328CC1
$accent: #EBC317
$light-text: #FDFDFD

body
  font: 100% $font
  font-weight: 300
  color: $light-text
  background-color: $darkest

// Layout

.fortius-view
  padding: 0
  min-height: 100vh

  nav
    background-color: $darkest !important
    padding: 15px

    .logo
      margin: 0 auto
      max-width: 328px
      width: 98%

  .content
    background-color: $dark
    margin: 0

    .col-12
      padding: 0

  footer
    position: fixed
    bottom: 0
    font-style: italic
    font-size: 11px
    text-align: right
    width: 100%
    padding: 3px 5px

// Menu

.view-title
  font-size: 34px
  color: $accent
  margin: -8px 7px

// Typography

a
  color: $light-text
  text-decoration: underline

h4
  font-size: 20px
  font-weight: 300

p
  font-size: 14px
  font-weight: 300

// Forms and buttons

.button
  background-color: $light
  color: $light-text
  border: 0
  border-radius: 0
  font: 30px $accent-font
  text-transform: uppercase
  height: 65px
  display: block
  width: 100%
  max-width: 400px
  padding: 0
  margin: 0 auto
  cursor: pointer

.button:active
  background-color: $light !important
  color: $accent !important

.button:focus
  @extend .button:active
  outline: none

.button-accent
  @extend .button
  background-color: $accent

.button-accent:active
  background-color: $accent !important
  color: $dark !important

.button-accent:focus
  @extend .button-accent:active
  outline: none

.fields
  width: 87%
  max-width: 400px
  margin: 0 auto

input
  background-color: $light
  border: 2px solid $light
  border-bottom: 2px solid $accent
  display: block
  margin: 2rem auto 0 auto
  padding: 6px
  width: 100%
  font: 28px $font
  font-weight: 400
  color: $darkest

input:focus
  outline: none
  border: 2px solid $accent

label
  width: 100%
  padding: 0 3px
  text-align: left
  text-transform: uppercase
  font-size: 14px
  letter-spacing: .12em


// Utility classes

.center
  text-align: center
